@model IEnumerable<slnCrudEmpleadoMVC.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            User
        </th>
        <th>
            Password
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass_emp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_emp  }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_emp}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_emp})
        </td>
    </tr>
}

</table>
